<!--  TODO: aplicar boostrad a este template  -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Train model</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="row align-items-center vh-100">
                <div class="col-6 mx-auto">
                    <div class="card shadow border">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="card-body">
                                <h5 class="card-text">
                                    Por favor seleccione el audio a clasificar
                                </h5>

                                <form method="POST" enctype="multipart/form-data">
                                    <!--onsubmit="showTime('Cargando datos y capacitando al modelo.')">-->

                                    <!-- File -->
                                    <div class="row">
                                        <label for="fname">Elija el audio de 2 segundos:</label>
                                    </div>

                                    <div class="form-row">
                                        <input type="file" id="fname" title="Por favor elija un archivo .zip que contenga los nuevos chats" required name="file1" class="form-control-file"/>
                                        <br><br>
                                    </div>

                                    <div class="form-group row">
                                        <input type="submit" value="Cargar Nuevos chats " class="btn btn-primary"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--<script src="sweetalert2.all.min.js"></script>
                        <script>
                            function showTime(msg) {
                                let timerInterval
                                Swal.fire({
                                    title: 'Información!',
                                    html: msg,
                                    timer: 2000,
                                    timerProgressBar: true,
                                    didOpen: () => {
                                        Swal.showLoading()
                                        const b = Swal.getHtmlContainer().querySelector('b')
                                        timerInterval = setInterval(() => {
                                            b.textContent = Swal.getTimerLeft()
                                        }, 100)
                                    },
                                    willClose: () => {
                                        clearInterval(timerInterval)
                                    }
                                }).then((result) => {
                                    /* Read more about handling dismissals below */
                                    if (result.dismiss === Swal.DismissReason.timer) {
                                        console.log('I was closed by the timer')
                                    }
                                });
                            }
                        </script>-->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
